#root {
width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
   width: 100%;
  min-height: 100vh;
  justify-content: center;
}


.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

}

.left-panel {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.start-order-button,
.add-order-button,
.clear-history-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-order-button:hover,
.add-order-button:hover,
.clear-history-button:hover {
  background-color: #218838;
}

.order-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-order-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-order-button:hover {
  background-color: #c82333;
}

.current-order-summary {
  background-color: #706187;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.current-order-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

.volume-options,
.type-options,
.additions-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.type-button,
.volume-button,
.addition-button {
  margin: 0;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
}

.type-button.selected,
.volume-button.selected,
.addition-button.selected {
  background-color: #007bff;
  color: white;
  border: none;
}
